<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
<servlet>
   <servlet-name>manservant</servlet-name>
   <servlet-class>headphones.Reboot</servlet-class>
</servlet>

<servlet-mapping>
   <servlet-name>manservant</servlet-name>
   <url-pattern>/Reboot</url-pattern>
   </servlet-mapping>

   <servlet>
      <servlet-name>man</servlet-name>
      <servlet-class>headphones.HeadphonesController</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>man</servlet-name>
      <url-pattern>/headphones/*</url-pattern>
   </servlet-mapping>



</web-app>